*{
    padding: 0px;
    margin: 0px;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
}
.blog-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: center;
}
h2{
    color: rgb(107, 107, 107);
}
a{
    text-decoration: none;
    color: white;
}
.single-blog{
    width: 200px;
    height: 230px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.single-blog img{
    width: 100%;
    height: 60%;
    object-fit: contain;
}
.single-blog h6{
    margin: 4px;
    overflow-wrap:anywhere;
}
h2{
    width: 100%;
    text-align: center;
}