@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main_page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload_file{
    width: 90%;
    height: 400px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 20px;
}
.drag_area{
    width: 85%;
    height: 350px;
    border: 1px dashed gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.icon{
    color: rgba(0, 0, 0, 0.332);
    font-size: 40px;
    width: 100px;
    height: 100px;
}

.open_file{
   font-weight: 100%;
   color:rgb(102, 152, 255) ;
   text-decoration: underline;
   cursor: pointer;
}
.support{
  font-size: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.332);
}
.invaild_img{
    color: red;
    font-size: 10px;
    display: none;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.selectCatagory {
    width: 150px;
    height: 35px;
    padding: 0px 5px 0px 12px;
}
.selectCatagory option:hover,
.selectCatagory option:checked{
    background:rgb(71, 129, 247) ;
}
.blog_content{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
textarea{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
}
.post_btn{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}
.post_btn button{
    width: 100px;
    height: 40px;
    background-color:rgb(102, 152, 255);
    border: none;
    color: white;
}
.post_btn button:hover{
    background-color: rgb(71, 129, 247);
}
.drag_area img{
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.display {
    display: none;
  }
  .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 15px;
    color: white;
    position: absolute;
    z-index: 10;
    top: 90px;
    width: 100%;
    height: 40px;
}
