
.landing_page {
    width: 100%;
    height: calc(100vh - 90px);
    background-image: linear-gradient(
        to bottom left,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 1)
      ),
      url("../images/landing-img.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .beauty {
    color: var(--backgroundColor);
    text-decoration: underline overline;
  }
  .landing_page::after {
    content: "";
    background: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(255, 253, 254));
  }
  .landing_text {
    width: 73%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .landing_text h1 {
    color: var(--secondry-color);
    font-size: 3.5vw;
    font-family: var(--font-family);
  }
  .landing_text p {
    color: var(--secondry-color);
    font-size: 1.3vw;
  }
  .landing_btn button {
    width: 120px;
    height: 40px;
    border: 1px solid var(--secondry-color);
    background-color: transparent;
    color: var(--secondry-color);
    border-radius: 30px;
    transition: ease-in 0.2s;
  }
  .landing_btn button:hover {
    background-color: black;
  }
  .landing_btn button:active {
    transform: scale(0.97);
  }